<!DOCTYPE html>
<html ng-app="fwdbApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app-services/queryService.service.js"></script>
    <script src="~/Scripts/FrameworkDetailPage/frameworkDetail.controller.js"></script>
</head>
<body>
    <div ui-view></div>

    <div class="container body-content">
        <!--@RenderBody()-->
    </div>
</body>
</html>
